.cache
build
build-module
node_modules
packages/block-serialization-spec-parser/parser.js
packages/e2e-tests/plugins
packages/react-native-editor/bundle
playground/dist
vendor
wordpress
!.*.js

packages/block-library/src/file/inspector.js
packages/edit-post/src/components/sidebar/settings-sidebar/index.js
packages/edit-post/src/components/visual-editor/index.js
