/** @format */

.rowSeparator {
	height: 12px;
}

.addBlockButton {
	color: $blue-wordpress;
}

.addBlockButtonDark {
	color: $blue-30;
}

.columnPadding {
	padding: $grid-unit-20;
}

.modalItemLabelDark {
	color: $white;
}

.addBlockButton {
	color: $blue-wordpress;
}

.addBlockButtonDark {
	color: $blue-30;
}

.columnPadding {
	padding: $grid-unit-20;
}

.clipboardBlock {
	background-color: transparent;
	border-width: 1px;
	border-color: $light-gray-400;
}

.clipboardBlockDark {
	border-color: $gray-70;
}
